body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #f0f0f0, #d9edf7); /* Fundo suave */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 90%;
    max-width: 400px;
}

h1 {
    font-size: 1.5em;
    color: #333;
    margin: 10px 0;
}

form {
    margin: 20px 0;
}

label {
    font-size: 1em;
    color: #555;
    display: block;
    margin-top: 10px;
}

input {
    width: calc(100% - 20px);
    padding: 8px;
    margin-top: 5px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    font-size: 1em;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background: #0056b3;
}

footer {
    margin-top: 20px;
    text-align: center;
    padding: 15px;
    background: #f7f7f7;
    border-top: 2px solid #ddd;
    width: 100%;
}

footer .colaboradores {
    font-size: 0.9em;
    color: #333;
}

footer .colaboradores h2 {
    font-size: 1.2em;
    color: #007bff;
    margin-bottom: 10px;
}

footer .colaboradores p {
    margin: 5px 0;
}

@media (max-width: 430px) {
    h1 {
        font-size: 1.2em;
    }

    footer .colaboradores p {
        font-size: 0.8em;
    }
}
